
  .size1{
    font-size: 18px;
}
.size2{
    font-size: 25.89px;
}
.size3{
    font-size: 41.89px;
}
.size4{
    font-size: 67.77px;
}
.size5{
    font-size: 109.66px;
}
.size6{
    font-size: 177.42px;
}




.button{
    font-size: 25.89px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px;
    padding: 8px 16px;
    text-align: center;
    
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* border: 1px solid #4D4DFF;
     */
     border: none;
     color: #00ffffff;        
    /* box-shadow: 0 0 8px #4D4DFF ; */
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
  }
  .button:hover {
    background-image: linear-gradient(to right, #4D4DFF 0%, #00C089 51%, #4D4DFF 100%);
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
  }
/* CSS */
.btn {
display: flex;
justify-content: center;
align-items: center;
}
         
.button1 {
  /* border: 1px solid rgba(77,77,255  , 1); */

  display: block;
}



.button1:after {
  content: "";
  /* background-color: #ffe54c; */
  background-color: transparent;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button1 {
    padding: 13px 50px 13px;
  }
}

/* CSS */
.button2 {

    /* border: 1px solid rgba(77,77,255  , 1); */
    margin-left: 8px;
  }
  
  .button2:after {
    content: "";
    background-color: transparent;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button2:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button2 {
      padding: 13px 50px 13px;
    }
  }


.line{
  position: relative;
}
.line:after {
  content: "";
  width: 120px;
  height: 5px;
  z-index: -1;
  position: absolute;
  top: 40px;
  left: -2px;
  transition: 0.2s;
}
