/* Deep navy blue (#01257D), electric blue (#00FFFF) *rgb(77, 77, 255)*/
/* --bkg: #5eb3fd;
	--white: #e7e6e6; */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.75;

  background-color: #d1cccc;
	background-image: url(http://www.transparenttextures.com/patterns/paper-fibers.png);
  /* background-color: gray; */

}

main{
 
    background-color: transparent;
    z-index: 1000;
    width: 1140px;
    position: absolute;
    top: 88px;
    text-shadow: 0px 4px 6px #1b191f;  
  
}


a {
  color: inherit;
  text-decoration: none;
}
